@model Wolfpack.Web.Models.Group.EditVM

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<h3>Add New skill</h3>
<div class="form-box">
    @using (Html.BeginForm("AddSkill", "Group"))
    {
        @Model.Message
        @Html.ValidationSummary()
        <div class="form-item">
            @Html.EditorFor(m => m.NewSkillName, new { required = "required" })
            @Html.LabelFor(m => m.NewSkillName, new { htmlAttributes = new { required = "required" } })
            <ul id="autocomplete"></ul>
        </div>
        <div class="form-item" id="skillDescriptionItem">
            @Html.EditorFor(m => m.NewSkillDescription, new { htmlAttributes = new { required = "required" } })
            @Html.LabelFor(m => m.NewSkillDescription, new { htmlAttributes = new { required = "required" } })
        </div>
        @Html.HiddenFor(m => m.Id)
        <input type="submit" class="submit-button" value="Submit" />
    }
</div>

<h3>
    Group users
</h3>
<table class="table">
    <tr>
        <th>
            Firstname
        </th>
        <th>
            Lastname
        </th>
        <th>
        </th>
    </tr>

    @foreach (var item in Model.GroupUsers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.ActionLink("X", "RemoveUserFromGroup", new { userId = item.Id, groupId = Model.Id })
            </td>
        </tr>
    }
</table>