@model Wolfpack.Web.Models.Group.UserGroupsVM

@{
    ViewBag.Title = "Index";
}

@if (Request.Params["state"] == "success")
{
    <div class="alert">Succes!</div>
}

@if (Request.Params["state"] == "error")
{
    <div class="alert error">Something went wrong, please try again.</div>
}
<h2>Index</h2>
<button class="action-button" id="createGroup"><span>Create new group</span><i class="fas fa-plus fa-lg"></i></button>
@if (Model.CreatedGroups.Count() > 0)
{
    <h3>Groups created by you</h3>
}

<div class="overview">
    @foreach (var item in Model.CreatedGroups)
    {
        <div class="overview-item item-large">
            <div class="overview-header">
                <h3>@item.GroupName</h3>
            </div>
            <div class="overview-text">
                <h4>Created by</h4>
                <p>@Html.DisplayFor(modelItem => item.GroupCreator)</p>
                <h4>Category</h4>
                <p>@Html.DisplayFor(modelItem => item.Category)</p>
                <h4>Date created</h4>
                <p>@Html.DisplayFor(modelItem => item.CreatedOn)</p>
                <h4>Actions</h4>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "action-button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "action-button delete" })
            </div>
        </div>
    }
</div>
@if (Model.ParticipatingGroups.Count() > 0)
{
    <h3>Groups you participate in</h3>
}
<div class="overview">
    @foreach (var item in Model.ParticipatingGroups)
    {
        <div class="overview-item item-large">
            <div class="overview-header">
                <h3>@item.GroupName</h3>
            </div>
            <div class="overview-text">
                <h4>Created by</h4>
                <p>@Html.DisplayFor(modelItem => item.GroupCreator)</p>
                <h4>Category</h4>
                <p>@Html.DisplayFor(modelItem => item.Category)</p>
                <h4>Date created</h4>
                <p>@Html.DisplayFor(modelItem => item.CreatedOn)</p>
                <h4>Actions</h4>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "action-button" })
            </div>
        </div>
    }
</div>

<script>
    function addListeners() {
    document.querySelector(".delete").addEventListener('click', function (e) {
        e.preventDefault();
        actionLink = this.href;
        createConfirmModal(actionLink);
        });

        document.querySelector("#createGroup").addEventListener('click', function () {
            getPartial('@Url.Action("GetNewGroupModal")')
        });
    };

    addListeners();
</script>