@model Wolfpack.Web.Models.Group.GroupVM
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create a new group</h2>
<div class="form-box pre-form">
    @using (Html.BeginForm("New"))
    {
    @Html.ValidationSummary()
    <div class="input-box">
        <div class="form-item">
            @Html.LabelFor(m => m.GroupName)
            @Html.EditorFor(m => m.GroupName, new { htmlAttributes = new { required = "required" } })
        </div>
        <div class="form-item">
            @Html.LabelFor(m => m.Category)
            @Html.EditorFor(m => m.Category, new { required = "required" })
        </div>
    </div>

        if (!string.IsNullOrEmpty(Model.Message))
        {
            <div class="form-item">
            @Model.Message
            </div>
        }
    <input type="submit" class="submit-button" />
    }
</div>
