@model Wolfpack.Web.Models.Notification.NotificationsVM

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>IsRead</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model.Notifications)
        {
            <tr>
                <td>@Html.ActionLink(notification.Title, "GetNotification", new { id = notification.Id })</td>
                <td>@notification.Date</td>
                <td>@notification.IsRead</td>
            </tr>
        }
    </tbody>
</table>

<h2>History</h2>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Date</th>
            <th>IsRead</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var notification in Model.NotificationHistory)
        {
            <tr>
                <td>@Html.ActionLink(notification.Title, "GetNotification", new { id = notification.Id })</td>
                <td>@notification.Date</td>
                <td>@notification.IsRead</td>
            </tr>
        }
    </tbody>
</table>