<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wolfpack</title>
    <meta name="theme-color" content="#455B65" />
    <link rel="apple-touch-icon" sizes="180x180" href="@Url.Content("~/Content/favicon/apple-touch-icon.png")">
    <link rel="icon" type="image/png" sizes="32x32" href="@Url.Content("~/Content/favicon/favicon-32x32.png")">
    <link rel="icon" type="image/png" sizes="16x16" href="@Url.Content("~/Content/favicon/favicon-16x16.png")">
   
    <link rel="manifest" href="~/Content/favicon/site.webmanifest">
    <link rel="mask-icon" href="~/Content/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="wrapper">
        <div class="mobile-nav">
            <i class="fas fa-bars fa-3x toggle-menu" id="toggle-menu"></i>
        </div>
        <div class="sidebar-wrapper">
            <div class="sidebar" id="sidebar">
                <div class="logo">
                    <img src="~/Content/images/logo.svg" />
                </div>
                <ul class="nav">
                    <li><div id="toggle-collapse"><span>Hide</span><i class="fas fa-bars fa-lg"></i></div></li>
                    <li><a href="@Url.Action("GetNotifications","Notification")"><span>Messages</span><div class="notification-box" id="notification-box"><i class="fas fa-bell fa-lg"></i></div></a></li>
                    <li><a href="@Url.Action("Index","Profile")"><span>Profile</span><i class="fas fa-user-circle fa-lg"></i></a></li>
                    <li><a href="@Url.Action("SearchProfile","Profile")"><span>Users</span><i class="fas fa-user fa-lg"></i></a></li>
                    <li><a href="@Url.Action("Index","Group")"><span>Groups</span><i class="fas fa-users fa-lg"></i></i></a></li>
                    <li><a href="@Url.Action("Index","Event")"><span>Events</span><i class="fas fa-calendar-alt fa-lg"></i></i></a></li>
                    <li><a href="@Url.Action("Index","Dummy")"><span>Dummy</span><i class="fas fa-vial fa-lg"></i></i></a></li>
                </ul>
                <div class="sidebar-bottom">
                    <ul class="nav-bottom">
                        <li><a href="@Url.Action("Logout","Account")"><span>Log out</span><i class="fas fa-sign-out-alt fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main">
            @RenderBody()
        </div>
    </div>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/main.js")"></script>
    <script>getNotificationCount('@Url.Action("GetNotificationCount", "Notification")')</script>
</body>
</html>
