<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
</head>
<body>
    <div class="wrapper">
        <div class="mobile-nav">
            <i class="fas fa-bars fa-3x toggle-menu" id="toggle-menu"></i>
        </div>
        <div class="sidebar-wrapper">
            <div class="sidebar" id="sidebar">
                <div class="logo">
                    <img src="~/Content/images/logo.png" />
                    @*@Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
                </div>
                <ul class="nav">
                    <li><div id="toggle-collapse"><span>Close</span><i class="fas fa-bars fa-lg"></i></div></li>
                    <li><a href="@Url.Action("Index","Home")"><span>Home</span><i class="fas fa-home fa-lg"></i></a></li>
                    <li><a href="@Url.Action("About","Home")"><span>About</span><i class="fas fa-user fa-lg"></i></i></a></li>
                    <li><a href="@Url.Action("Contact","Home")"><span>Contact</span><i class="fas fa-phone fa-lg"></i></a></li>
                </ul>

                <div class="sidebar-bottom">
                    <ul class="nav-bottom">
                        <li><a href="@Url.Action("Index","Home")"><span>Log out</span><i class="fas fa-cog fa-lg"></i></a></li>
                        <li><a href="@Url.Action("Index","Home")"><span>Settings</span><i class="fas fa-sign-out-alt fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>
            </div>
            <div class="main">
                @RenderBody()
            </div>
        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="@Url.Content("~/Scripts/main.js")"></script>
</body>
</html>
