@model Wolfpack.Web.Models.Event.EventVM

@{
    ViewBag.Title = "Details";
}

<div class="info-box">
    <h2>Details for @Html.DisplayFor(model => model.EventName)</h2>
    <p>
        @Html.ActionLink("Generate Teams", "GenerateTeams", new { Id = Model.Id })
    </p>

    <h3>Basic info</h3>
    <h4>@Html.DisplayNameFor(model => model.CreatedOn)</h4>
    <p>@Html.DisplayFor(model => model.CreatedOn)</p>

    <h3>Skills in this Event</h3>
    <ul>
        @foreach (var Skill in Model.Skills)
        {
            <li>@Skill.Name</li>
        }
    </ul>

    <h3>Teams in event</h3>
    <ul>
        @foreach (var Team in Model.Teams)
        {
            <h4>
                @Team.Name @Team.Avg
            </h4>
            foreach (var User in Team.Users)
            {
                <li>@User.FirstName @User.LastName</li>
            }
            <p>
                @Html.ActionLink("View team", "Team", new { id = Team.Id})
            </p>
        }
    </ul>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>
