@model Wolfpack.Web.Models.Event.EditVM

@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>
<h3>Add New skill</h3>
<div class="form-box">
    @Model.Message
    @using (Html.BeginForm("AddSkill", "Event"))
    {
        @Html.ValidationSummary()
        <div class="form-item">
            @Html.EditorFor(m =>  m.NewSkillName, new { htmlAttributes = new { required = "required" } })
            @Html.LabelFor(m => m.NewSkillName, new { htmlAttributes = new { required = "required" } })
        </div>
        <div class="form-item">
            @Html.EditorFor(m => m.NewSkillDescription, new { htmlAttributes = new { required = "required" } })
            @Html.LabelFor(m => m.NewSkillDescription, new { htmlAttributes = new { required = "required" } })
        </div>
        @Html.HiddenFor(m => m.Id)
        <input type="submit" class="submit-button" value="Submit" />
    }
</div>