@model Wolfpack.Web.Models.Event.UserEventsVM

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Events created by you</h3>
<div class="overview">

    @foreach (var item in Model.CreatedEvents)
    {
        <div class="overview-item item-large">
            <div class="overview-header">
                <h3>@item.EventName</h3>
            </div>
            <div class="overview-text">
                <h4>Created by</h4>
                <p>@Html.DisplayFor(modelItem => item.EventCreator)</p>
                <h4>Date created</h4>
                <p>@Html.DisplayFor(modelItem => item.CreatedOn)</p>
                <h4>Actions</h4>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "action-button" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "action-button delete" })
                @Html.ActionLink("RateUser", "RateUser", new { id = item.Id }, new { @class = "action-button" })
            </div>
        </div>
    }
</div>

<h3>Events you participate in</h3>
<div class="overview">

    @foreach (var item in Model.ParticipatingEvents)
    {
        <div class="overview-item item-large">
            <div class="overview-header">
                <h3>@item.EventName</h3>
            </div>
            <div class="overview-text">
                <h4>Created by</h4>
                <p>@Html.DisplayFor(modelItem => item.EventCreator)</p>
                <h4>Date created</h4>
                <p>@Html.DisplayFor(modelItem => item.CreatedOn)</p>
                <h4>Actions</h4>
                @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "action-button" })
            </div>
        </div>
    }
</div>
<script>
        document.querySelector(".delete").addEventListener('click', function (e) {
         e.preventDefault();
        actionLink = this.href;
    createConfirmModal(actionLink);
});
</script>