@model Wolfpack.Web.Models.Account.LoginVM

@{
    Layout = "~/Views/Shared/_NoSidebarLayout.cshtml";
    ViewBag.Title = "Login";
}

<h2>Welcome back to WolfPack!</h2>
<div class="form-box pre-form">
    @if (!string.IsNullOrWhiteSpace(Model.Message))
    {
    <div class="form-success">
        @Model.Message
    </div>
    }
    @using (Html.BeginForm("Login"))
    {
        @Html.ValidationSummary()
        <div class="input-box">
            <div class="form-item">
                @Html.EditorFor(m => m.LoginName, new { htmlAttributes = new { required = "required" } })
                @Html.LabelFor(m => m.LoginName)
            </div>

            <div class="form-item">
                @Html.PasswordFor(m => m.Password, new { required = "required" })
                @Html.LabelFor(m => m.Password)
            </div>

        </div>

        <input type="submit" class="submit-button" value="Submit" />
    }
    @Html.ActionLink("Not a member? Click here to register.", "Register")
</div>

