@model Wolfpack.Web.Models.Account.NewUserVM

@{
    ViewBag.Title = "NewUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Welcome to WolfPack, please fill in your account information</h2>


@using (Html.BeginForm("NewUserPost", "NewUser"))
{

    @Html.Label("Username")
    @Html.EditorFor(m => m.UserName)

    @Html.Label("Firstname")
    @Html.EditorFor(m => m.FirstName)

    @Html.Label("Lastname")
    @Html.EditorFor(m => m.LastName)

    @Html.Label("Mailadress")
    @Html.EditorFor(m => m.MailAdress)

    @Html.Label("Enter a password")
    @Html.PasswordFor(m => m.Password)
    @Html.Label("Confirm your password")
    @Html.PasswordFor(m => m.PasswordCheck)
}

<input type="submit" />
