@model Wolfpack.Web.Models.Account.RegisterVM
@using Recaptcha.Web.Mvc;

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_NoSidebarLayout.cshtml";

}

        <h2>Welcome to WolfPack, please fill in your account information</h2>
        <div class="form-box pre-form">
            @using (Html.BeginForm("RegisterPost", "Account"))
    {
        <div class="input-box">
            <!-- UserName -->
            <div class="form-item">
                @Html.EditorFor(m => m.UserName, new { htmlAttributes = new { required = "required" } })
                @Html.LabelFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

            <!-- FirstName -->
            <div class="form-item">
                @Html.EditorFor(m => m.FirstName, new { htmlAttributes = new { required = "required" } })
                @Html.LabelFor(m => m.FirstName)
                @Html.ValidationMessageFor(m => m.FirstName)
            </div>


            <div class="form-item">
                @Html.EditorFor(m => m.LastName, new { htmlAttributes = new { required = "required" } })
                @Html.LabelFor(m => m.LastName)
                @Html.ValidationMessageFor(m => m.LastName)
            </div>

            <!-- Mailadress -->
            <div class="form-item">
                @Html.EditorFor(m => m.MailAdress, new { htmlAttributes = new { required = "required" } })
                @Html.LabelFor(m => m.MailAdress)
                @Html.ValidationMessageFor(m => m.MailAdress)
            </div>

            <div class="form-item">
                @Html.PasswordFor(m => m.Password, new { required = "required" })
                @Html.LabelFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </div>

            <div class="form-item">
                @Html.PasswordFor(m => m.PasswordCheck, new { required = "required" })
                @Html.LabelFor(m => m.PasswordCheck)
            </div>
            <div class="form-item">
                @Html.Recaptcha()

                @Html.ValidationMessageFor(m => m.CaptchaResponse)
            </div>
            </div>
            <input type="submit" value="Subscribe" class="submit-button" value="Submit" />
            }
        </div>



